@charset "utf-8";
/* CSS Document */
html{
	height: 100%;
}
body{
	height: 100%;
}
/**Header**/
header{
	
}
/**Nav**/
nav{
	width: 100%;
	height: 10%;
	background-color:#515151;
	color: #D0D0D0;
	text-align: center;
}
ul{
	display: block;
	width: 100%;
	margin: 0px auto 0px auto;
	padding: 15px 0px 20px 0px;
}
li{
	text-decoration: none;	
	list-style-type: none;
	color: #DFDFDF;
	margin: 0px 5px 0px 5px;
	display: inline;
}
a{
	font-size: 25px;
	text-decoration: none;
	color: #DFDFDF;
}
a:hover{
	text-decoration: underline;
}
.social{
	width: 100%;
	text-align: center;
}
.social ul{
	
}
.social li{
	margin: 0px 5px 0px 5px;
	display: inline;
}
.social img{
	width: 45px;
}
#Center{
	margin: auto;
}
/**Nav**/
/**Header**/
#outer{
	width:100%;
	height: 100%;
}
/**Body**/
#main{
	width:100%;
	height: 100%;
}
/**Paralax backgrounds**/
#landing{
	background-image: url(../images/redDrop.png);
	height: 90%;
	width: 100%;
	background-repeat: repeat;
}
#portfolio1{
	background-image: url(../images/pexels-stock-01.png);
	height: 110%;
	width: 100%;
}
#portfolio2{
	background-image: url(../images/pexels-stock-02.png);
	height: 110%;
	width: 100%;
}
#spacer{
	width: 100%;
	height: 150px;
	background-color: red;
}
#matt{
	text-align: center;
	position: relative;
	top: 10%;
}
#matt img{
	/**width: 400px;**/
	max-height: 400px;
	max-width: 400px;
	width: 20%;
}
/**Body**/

/**Footer**/
footer{
	width: 100%;
	height: 20%;
	background-color:#515151;
	color: #D0D0D0;
	text-align: center;
	padding: 5px 0px 60px 0px;
}
h5{
	margin: 0px;
	padding: 0px;
}
/**Footer**/
/**Media Request**/
@media only screen and (max-width: 768px){
	.social img{
		width: 135px;
	}
	#matt img{
	/**width: 400px;**/
		max-height: 800px;
		max-width: 800px;
	}
}
@media only screen and (max-width: 320px){
	
	
}
/**Other**/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.paralax{
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.clearfloat {
font-size: 0px;
margin: 0px;
padding: 0px;
clear: both;
float: none;
height: 0px;
width: 0px;
border: 0px none;
line-height: 0px;
}