/* CSS Document */

body
{
	font-family: 'Mukta Mahee', sans-serif;
}
#outer
{
	width: 100%;
	max-width: 1020px;
	background-color: red;
	padding: 2.5%;
}
/**Header**/
header
{
	background-color: green;
	width: 97%;
	/**min-height: 200px;**/
	padding: 2%;
	align-content: center;
	text-align: center;
}
/***Nav***/
nav
{
	width: 100%;
	background-color: blue;
}
ul
{
	padding: 0px;
	margin: 0px;
}
nav li
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
nav li a
{
	display: block;
	text-align: center;
	text-decoration: none;
	float: left;
	margin: 8px 5px;
	color: black;
	background-color: purple;
	padding: 1px 4px;
}
nav li a:hover
{
	background-color: Blue;
	border: 1px solid black;
	padding: 0px 3px;
}
/***Nav**/
/**Header**/
/**body**/
#main
{
	width: 99%;
	min-width: 400px;
	padding: 1%;
	margin-top: 2%;
	background-color: purple;
}
#asideTallLeft
{
	width: 25%;
	height: 100%;
	margin-right: 2%;
	background-color: aqua;
	float: left;
}
#sectionLarge
{
	width: 69%;
	background-color: blue;
	float: left;
	padding: 2%;
}
#sectionSmall
{
	width: 100%;
	background-color: blueviolet;
	float: left;
	margin-bottom: 2%;
}
#articalLeft
{
	width: 49%;
	background-color: cyan;
	float: left;
	margin-right: 2%;
}
#articalRight
{
	width: 49%;
	background-color:darkgreen;
	float: left;
	margin-bottom: 2%;
	align-content: center;
}
#asideSmallRight
{
	width: 49%;
	background-color:chocolate;
	float: right;
}
/**body**/

/**Footer**/
footer
{
	width: 100%;
	min-height: 150px;
	background-color: chartreuse;
	align-content: center;
}
#footHolder
{
	width: 30%;
	text-align: center;
	margin-left: 35%;
	margin-right:35%;
}
#navy
{
	width: 100%;
	background-color: blue;
	align-content: center;
	padding-left: 27%;
}
#navy li
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#navy li a
{
	display: block;
	text-align: center;
	text-decoration: none;
	float: left;
	margin: 8px 5px;
	color: black;
	background-color: purple;
	padding: 1px 4px;
	font-size: 12px;
}
#navy li a:hover
{
	background-color: Blue;
	border: 1px solid black;
	padding: 0px 3px;
}
/**Footer**/

/**Other**/

img
{
	width: 90%;
}

h1
{
	margin: 0px;
}
h2
{
	margin: 0px;
}
h3
{
	margin: 0px;
}
h4
{
	margin: 0px;
}
h5
{
	margin: 0px;
}
h6
{
	margin: 0px;
}
.clearfloat {
font-size: 0px;
margin: 0px;
padding: 0px;
clear: both;
float: none;
height: 0px;
width: 0px;
border: 0px none;
line-height: 0px;
}